{{ define "main" }}
	<article class="post">
		<!-- Outer grid to align background -->
		<div class="content-grid">
			<div class="bg-div"></div>
			<div class="content-div">
				<header class="content-grid">
					<h1 class="article-title">{{ .Title }}{{ if .Draft }}(Draft){{ end }}</h1>
				</header>
				<div class="post-content content-grid">{{ .Content | safeHTML }}</div>
				<footer class="content-grid">
					<p class="meta">Posted on <span class="postdate">{{ .Date.Format "02. January 2006" }}</span></p>
				</footer>
			</div>
		</div>
	</article>
{{ end }}
