<article class="post post-card {{ if eq .Index  0}} post-card-large {{ end }}">
	<a class="post-card-image-link" href="{{.Post.Permalink}}">
		{{$maybe_featured := .Post.Resources.GetMatch "**featured*"}}
		{{ if $maybe_featured }}
			{{ partial "responsive-image" (dict "resource" $maybe_featured "sizes" "(max-width: 1000px) 400px, 800px")}}
		{{end}}
	</a>
	<div class="post-card-content">
		<a class="post-card-content-link" href="{{.Post.Permalink}}">
			<header class="post-card-header">
				<h1>{{ .Post.Title }}{{ if .Post.Draft }}(Draft){{ end }}</h1>
			</header>
			<section class="post-card-excerpt">
				<p>{{ .Post.Summary | plainify | safeHTML }} {{ if .Post.Truncated }} … {{ end }}</p>
			</section>
		</a>
	</div>
</article>