
<!-- Shortcode to check resources available and pattern match check -->
<h1>All resources</h1>
{{ with .Page.Resources.Match "**" }}
<ul>
    {{ range . }}
    <li>
        Name: {{.Name}}
        <br>
        URL: {{ .RelPermalink }}
        <br>
        Type: {{.MediaType}}
    </li>
    {{ end }}
</ul>
{{ end }}


{{if (.Get "pattern")}}
<h1> Testing pattern match: "<code>{{.Get "pattern"}}</code>" </h1>
<p>
{{ with .Page.Resources.Match (.Get "pattern") }}
<ul>
    {{ range . }}
    <li>
        Name: {{.Name}}
        <br>
        URL: {{ .RelPermalink }}
        <br>
        Type: {{.MediaType}}
    </li>
    {{ end }}
</ul>
{{ end }}
</p>
{{end}}